:80 {
	handle /api* {
		reverse_proxy backend:8080
	}

	redir /kiwiirc /kiwiirc/
	handle_path /kiwiirc/* {
		root * /srv/kiwiirc
		try_files {path} {path}/ /index.html =404
		file_server
	}

	handle_path /webirc/websocket* {
		reverse_proxy ergo:8097
	}

	handle {
		root * /srv/arcadia
		try_files {path} /index.html
		file_server
	}
}
