#------------------------------------------------------#
#  Environment Variable overrides for the compose.yml  #
#------------------------------------------------------#
# Please replace the Passwords with custom values after copying to .env
# you could use "openssl rand -hex 32" to generate secure passwords
# that don't contain any special characters that might cause issues

# Main Database credentials
ARCADIA_DATABASE__PASSWORD=your_secure_database_password
# ARCADIA_DATABASE__USER=arcadia
# ARCADIA_DATABASE__NAME=arcadia

# Redis cache password
ARCADIA_REDIS__PASSWORD=your_secure_redis_password

#------------------------------------------------------#
#     Additional Services (profile they belong to)     #
#------------------------------------------------------#

# Grafana (telemetry)
GF_SECURITY_ADMIN_PASSWORD=your_secure_grafana_password

# Chevereto (images)
CHEVERETO_DB_PASS=your_secure_chevereto_password
# CHEVERETO_DB_USER=chevereto
# CHEVERETO_DB_NAME=chevereto
CHEVERETO_DB_ROOT_PASS=very_secure_chevereto_root_password

# Ergo (irc)
# make sure to copy and edit the ergo example configs before deploying
ERGO__DATASTORE__MYSQL__PASSWORD=your_secure__password
# ERGO__DATASTORE__MYSQL__USER=ergo
# ERGO__DATASTORE__MYSQL__HISTORY_DATABASE=ergo_history
ERGO__DATASTORE__MYSQL__ROOT_PASSWORD=very_secure_ergo_root_password

ARCADIA_ERGO__API_BEARER_TOKEN=secure_bearer_token
ARCADIA_ERGO__AUTH_CALLBACK_TOKEN=other_secure_token
