name: Frontend CI

on:
  workflow_dispatch:
  push:
    paths:
      - "frontend/**"
      - "!**.md" # In the case that markdown is going to be used for documentation, don't forget to change this ;)
      - ".github/workflows/frontend.yml"
  pull_request:
    branches:
      - main
    paths:
      - "frontend/**"
      - "!**.md"
      - ".github/workflows/frontend.yml"

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - run: npm ci
      - run: npm run lint
        if: ${{ !cancelled() }}
      - run: npm run type-check
        if: ${{ !cancelled() }}
      - run: npm run check-format
        if: ${{ !cancelled() }}

  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - run: npm ci
      - run: npm run test:unit -- --run
